<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estg.saul.projetoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeNoticias"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="noticias" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Eventos"
            android:label="@string/nav_eventos"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="eventos" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Parcerias"
            android:label="@string/nav_parcerias"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="parcerias" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grupos"
            android:label="@string/nav_grupos"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="grupos" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GrupoInfo"
            android:label="Grupo Info"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="grupo_info" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>